img {
	cursor: pointer;
	transition: transform 0.2s;
}

img:hover {
	transform: scale(1.05);
}

.m3-btn {
	border: none;
	border-radius: 14px;
	padding: 10px 14px;
	font-weight: 500;
	transition: background 0.2s, transform 0.2s;
	cursor: default !important;
	background-color: white;
}
